<div class="container">
	<h1>Crowd Sale</h1>
	<hr>
	<h3>Here are the list of all ongoing Crowd Sales.</h3>
	<br>
	<table class="table table-condensed table-bordered table-striped">
		<tr>
      		<th>Token Name</th>
      		<th>Contact Address</th>
      		<th>Start Date</th>
      		<th>Start Time</th>
      		<th>End Date</th>
      		<th>End Time</th>
      		<th>Start Crowd Sale</th>
      		<th>End Crowd Sale</th>
   		</tr>
		<tr>
        	<td align="center">Token Name</td>
        	<td align="center">Contact Address</td>
            <td align="center">Start Date</td>
            <td align="center">Start Time</td>
            <td align="center">End Date</td>
            <td align="center">End Time</td>
            <td align="center">
            	<button type="button" class="btn btn-success" align="center">Start Crowd Sale</button>
            </td>
            <td align="center">
            	<button type="button" class="btn btn-danger" align="center">End Crowd Sale</button>
            </td>
    	</tr>
	</table>
</div>