<nav class="navbar navbar-expand-lg navbar-dark" style="margin-bottom:10px; background-color: #343a40;">
  <div class="container">
    <a class="navbar-brand navbar-dark" href="#"><img src="/assets/wandx.png" width="30" height="30" class="d-inline-block align-top" alt=""> WandX</a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sing In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sing Up</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
          </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
        </li> -->
      </ul>
    </div>
  </div>
</nav>

<!-- My Code for displaying the Nav Bar -->

<div class="container" style="padding: 0px;">
  <ul class="nav nav-tabs" style="margin-bottom: 20px;margin-top: 20px;">
    <li class="nav-item">
      <a class="nav-link" routerLink="createtoken">Create Token</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="existingtokens">Existing Tokens</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="tokentrade">Token Trade</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">Status</a>
    </li>
  </ul>
</div>

<footer class="footer" style="position: fixed;left:0px;bottom:0px;height:60px;width:100%;line-height: 60px;background:#dbdbdb82;">
  <div class="container">
    <a class="logo-font">WandX</a>
    <span class="attribution">
      &copy; {{ today | date: 'yyyy' }}.
      An interactive learning project from <a href="https://www.wandx.co/">WandX</a>
      <a href="https://www.wandx.co/privacy-policy.html">|  Privacy Policy</a>
      <a href="https://www.wandx.co/terms-of-use.html">|  Terms and Conditions</a>
    </span>
  </div>
</footer>





<!-- <app-header></app-header> -->
<!-- <app-homepage></app-homepage> -->
<!-- <app-createtoken></app-createtoken> -->
<!-- <app-existingtokens></app-existingtokens> -->
<!-- <app-footer></app-footer> -->
<!-- <app-tokentrade></app-tokentrade> -->
<!-- <app-crowdsale></app-crowdsale> -->
<router-outlet></router-outlet>
