<footer class="footer" style="position: fixed;left:0px;bottom:0px;height:60px;width:100%;line-height: 60px;background:#dbdbdb82;">
  <div class="container">
    <a class="logo-font">WandX</a>
    <span class="attribution">
      &copy; {{ today | date: 'yyyy' }}.
      An interactive learning project from <a href="https://www.wandx.co/">WandX</a>
      <a href="https://www.wandx.co/privacy-policy.html">|  Privacy Policy</a>
      <a href="https://www.wandx.co/terms-of-use.html">|  Terms and Conditions</a>
    </span>
  </div>
</footer>